vti_encoding:SR|utf8-nl
vti_author:SR|SC-POET\\poet
vti_modifiedby:SR|SC-CASH\\sc
vti_timelastmodified:TR|21 Jul 2011 03:37:04 -0000
vti_timecreated:TR|12 Jul 2011 02:50:51 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|left_note.htm manage/left_book.htm manage/book_add.htm manage/qa02.htm manage/qa_reply.htm footer.htm manage/account_day.htm manage/account_month.htm manage/note_add.htm manage/member_edit.htm manage/qa01_1.htm manage/qa_answered.htm note01.htm manage/member.htm manage/note.htm manage/note_edit.htm manage/book_edit.htm manage/qa02_add.htm manage/qa02_edit.htm header.htm index.htm manage/book.htm manage/left_qa02.htm manage/left_account.htm manage/account_history.htm manage/left_member.htm manage/left_qa01.htm manage/qa01_2.htm
vti_nexttolasttimemodified:TW|21 Jul 2011 02:26:38 -0000
vti_cacheddtm:TX|21 Jul 2011 03:37:04 -0000
vti_filesize:IR|5855
vti_cachedlinkinfo:VX|S|images/bg_header.png S|images/bg_menu.png S|images/bg_left_t.png S|images/bg_left.png S|images/line30.gif S|images/line30.gif
vti_cachedsvcrellinks:VX|FSUS|manage/images/bg_header.png FSUS|manage/images/bg_menu.png FSUS|manage/images/bg_left_t.png FSUS|manage/images/bg_left.png FSUS|manage/images/line30.gif FSUS|manage/images/line30.gif
