/*各瀏覽器視窗初始化*/
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
line-height: 1;
/* font-family: Verdana, Arial, Helvetica, sans-serif;*/
/* vertical-align: baseline;*/
}
table {border-collapse: collapse; border-spacing: 0;}
q:before, q:after, blockquote:before, blockquote:after {content: "";}

form	{display: inline;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

BODY {
/*	background-image: url('images/body_bg.png');
	background-repeat: no-repeat;
	background-position: center top;*/
	background-color: #BB7E00;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:26px;
	color:#313131;
	text-align: center;
}

A:link		{text-decoration: none; color: #000000;}
A:active 	{text-decoration: none; color: #000000;}
A:visited	{text-decoration: none; color: #000000;}
A:hover		{text-decoration: none; color: #FF0000;}

/*----- 整體範圍 -----*/
/* img {display:block}*/
td	{
	font-size: 9pt;
	padding: 1px 5 1 5px;
	line-height: 30px;
	}

#header	{
	width: 950px;
	_width: 940px;
	height: 133px;
/*	line-height: 30px;*/
	margin: 0 auto;
	margin-top: 20px;
	background-image: url('images/bg_header.png');
	background-repeat: no-repeat;
	}
.header {
	padding: 0 10px 0 0;
	}
	
.header A:link		{text-decoration: none; color: #000000;}
.header A:active		{text-decoration: none; color: #FF0000;}
.header A:visited		{text-decoration: none; color: #000000;}
.header A:hover		{text-decoration: none; color: #FF0000;}

#menu	{
	width: 930px;
	height: 35px;
/*	margin: 0 auto;*/
	margin: 10px;
	background-image: url('images/bg_menu.png');
	background-repeat: no-repeat;
	background-color: #F7F5EF;
	}
.menu	{
	font-size: 11pt;
	font-family: "Verdana";
	color: #FFFFCC;
	line-height: 35px;
	}
	
.menu A:link		{text-decoration: none; color: #FFFFCC;}
.menu A:active		{text-decoration: none; color: #FF0000;}
.menu A:visited		{text-decoration: none; color: #FFFFCC;}
.menu A:hover		{text-decoration: none; color: #FFFF00;}
	
#area	{
	width: 950px;
	background-color: #F7F5EF;
	margin: 0 auto;
	overflow:auto;
	}
/*body:nth-of-type(1) #area	{background-color: #FFFFFF;}*/
	
#main	{
	margin-left: 240px;
	_height:1%;
	}
.main	{
	padding: 0 10 0 5px;
	text-align: left;
	}

/*---- 左邊menu -----*/
#left	{
	float: left;
	width: 225px;
	margin: 0 5 0 10px;
	}

.left	{
	}
.left A:link		{text-decoration: none; color: #FFFFFF;}
.left A:active		{text-decoration: none; color: #FFFF00;}
.left A:visited		{text-decoration: none; color: #FFFFFF;}
.left A:hover		{text-decoration: none; color: #FFFF00; position: relative; top: 1px; left: 1px;}

#leftT	{
	width: 225px;
	height: 54px;
	background-image: url('images/bg_left_t.png');
	background-repeat: no-repeat;
	}
.leftT	{
	font-size: 11pt;
	font-weight: bold;
	line-height: 54px;
	}
#leftL	{
	width: 225px;
	height: 30px;
	background-image: url('images/bg_left.png');
	background-repeat: no-repeat;
	line-height: 30px;
	text-align: left;
	padding-left: 40px;
	letter-spacing: 0.1em;
	font-size: 11pt;
	}
#leftD	{
	width: 225px;
	background-color: #DBD1BE;
	}
.leftD	{
	padding: 2px 5 2 5px;
	}
	
/*----- 線條及文字設定 -----*/
hr	{border:0; height:1px; background-color:#F0F0F0;}

.font_top				{color: #FFFFCC; font-family: "Verdana";}
.font_top A:link		{text-decoration: none; color: #FFFFCC;}
.font_top A:active		{text-decoration: none; color: #FF0000;}
.font_top A:visited		{text-decoration: none; color: #FFFFCC;}
.font_top A:hover		{text-decoration: underline; color: #FFFF00;}
	
.fontT		{font-size: 11pt; font-weight: bold; background-color: #0080C0; color: #FFFFFF;}
.font9		{font-size: 9pt; font-family: "Verdana"; color: #808080; line-height: 20px;}
.font9R		{font-size: 9pt; font-family: "Verdana"; color: #FF0000; line-height: 20px;}
.font11		{font-size: 11pt; font-family: "Verdana"; line-height: 30px;}
.font11B	{font-size: 11pt; font-family: "Verdana"; line-height: 30px; font-weight: bold;}
.line30T	{background-image: url("images/line30.gif"); line-height:30px; font-size: 11pt; font-weight: bold;}
.line30		{background-image: url("images/line30.gif"); line-height:30px;}

/*---- 表格樣式 -----*/
.tdT	{
	font-size: 11pt;
	line-height: 32px;
	background-color: #BB7E00;
	color: #FFFF00;
	}


/*----- FOOTER -----*/
#footer	{
	clear:both;
	_height:1%;
	width: 950px;
	margin: 0 auto;
	}
	
.footer {
	text-align: right;
	color: #FFFFFF;
	font-family: "Verdana";
	font-size: 8pt;
	line-height: 26px;
	}
	
/*----- 表單項目 -----*/
#textarea {
	border: 1px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 9pt;
	}

/*----- layer -----*/
#divLayer {
	padding: 10px;
	position: absolute;
	left: 600px;
	top: 300px; 
	width: 300px;
	height: 250px;
/*	clip:rect(0,300,250,0); */
	visibility: hidden; /* 隱蔽或展現DIV "visible", "hidden", "inherit" */
	z-index: 1;
	background-color: #F2F2F2;
	layer-background-color: #F2F2F2;
	border-width: 1px;
	border-color:#333333;
	border-style:solid; /* dotted | dashed | solid | double | brove | ridge | inset | outset */
	}
	
<style type='text/css'> 
.pagebreak{page-break-after:always} 
.pagenobreak{page-break-after:avoid} 
</style>;